################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs
*UnityEngine.dll
*UnityEditor.dll
/BasicMMus/CS-MMUs/CS/UnityLocomotionMMU/UnityEngine.dll
